@font-face {
  font-family: 'Montserrat-Medium';
  src: url(fonts/Montserrat-Medium.eot);
  src: url(fonts/Montserrat-Medium.eot?#iefix) format('embedded-opentype'),
       url(fonts/Montserrat-Medium.otf) format('otf'),
       url(fonts/Montserrat-Medium.svg#Montserrat-Medium) format('svg'),
       url(fonts/Montserrat-Medium.ttf) format('truetype'),
       url(fonts/Montserrat-Medium.woff) format('woff'),
       url(fonts/Montserrat-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'NunitoSans-Regular';
  src: url(fonts/NunitoSans-Regular.eot);
  src: url(fonts/NunitoSans-Regular.eot?#iefix) format('embedded-opentype'),
       url(fonts/NunitoSans-Regular.otf) format('otf'),
       url(fonts/NunitoSans-Regular.svg#NunitoSans-Regular) format('svg'),
       url(fonts/NunitoSans-Regular.ttf) format('truetype'),
       url(fonts/NunitoSans-Regular.woff) format('woff'),
       url(fonts/NunitoSans-Regular.woff2) format('woff2');
}
